<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/jquery.datepick.css">
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Cars</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" id="filterForm">
                <div class="form-group mb-2">
                    <label for="display">Display: &nbsp;</label>
                    <select class="form-control" id="display">
                        <option value="table" selected>Table</option>
                        <option value="json">JSON</option>
                        <option value="xml">XML</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="brand">&nbsp; Brand: &nbsp;</label>
                    <select class="form-control" id="brand" name="brand">
                        <option value="" selected>Select a brand</option>
                        <option th:each="brand : ${brands}" th:value="${brand.name}" th:text="${brand.name}"></option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="bodyType">&nbsp; Body Type: &nbsp;</label>
                    <select class="form-control" id="bodyType" name="bodyType">
                        <option value="" selected>Select Body Type</option>
                        <option value="Sedan">Sedan</option>
                        <option value="SUV">SUV</option>
                        <option value="Truck">Truck</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="currency">&nbsp; Currency: &nbsp;</label>
                    <select class="form-control" id="currency" name="currency">
                        <option value="USD" selected>USD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="JPY">JPY</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="priceMin">&nbsp; Price Min: &nbsp;</label>
                    <input type="number" class="form-control" id="priceMin" name="priceMin" />
                </div>
                <div class="form-group mb-2">
                    <label for="priceMax">&nbsp; Price Max: &nbsp;</label>
                    <input type="number" class="form-control" id="priceMax" name="priceMax" />
                </div>
                <div class="form-group mb-2">
                    <label for="dateMin">&nbsp; Date Min: &nbsp;</label>
                    <input type="text" class="form-control date" id="dateMin" name="dateMin" readonly />
                </div>
                <div class="form-group mb-2">
                    <label for="dateMax">&nbsp; Date Max: &nbsp;</label>
                    <input type="text" class="form-control date" id="dateMax" name="dateMax" readonly />
                </div>
                <div class="form-group mb-2">
                    <label for="sort"> &nbsp; Sort By: &nbsp;</label>
                    <select class="form-control" id="sort" name="sort">
                        <option value="" selected>Select Sort Direction</option>
                        <option value="priceLow">Price Lowest</option>
                        <option value="priceHigh">Price Highest</option>
                        <option value="dateLatest">Date Latest</option>
                        <option value="dateOldest">Date Oldest</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Get Cars</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pre id="output"></pre>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/jquery.plugin.js"></script>
<script type="text/javascript" src="/jquery.datepick.js"></script>
<script src="/app.js"></script>

</body>
</html>